
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by ❤️ <a href="https://github.com/SaiyadAli" target="_blank">Saiyad </a>@<%= new Date().getFullYear() %></p>
  </div>
</div>
</body>
</html>
